/* fonts "Sometype Mono" & "Edu Tas Beginner" */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
    width: 100%;
    background-image: url('../img/cork.png');
    background-size: contain;
}

header {
    background-image: url('../img/wall.png');
    background-size: contain;
    height: 20vh;
}

.titolo {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Edu TAS Beginner", sans-serif;
    text-transform: uppercase;
    color: #D85448;
}


.para {
    font-family: "Edu TAS Beginner", sans-serif;
    color: #D85448;
    font-weight: 600;
    font-size: x-large;
}

.para1 {
    font-family: "Sometype Mono", "monospace";
    font-style: italic;
    font-size: large;
    font-weight: 600;


}

.container {
    width: 75%;
    margin: 0 auto;
}

/*task piccolo bonus */
.card:hover {
    transform: rotate(15deg);
    transition: all 1s ease-out;
    cursor: pointer;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}

/*task scoparsa del pin all'hover della card*/
.card:hover figure img:last-child {
    display: none;
}


.modale {
    /* z-index: 2;
    overflow: auto; */
    /* opacity: 0; */
    /* transition: opacity 0.5s ease-in-out; */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-color: rgba(0, 0, 0, 0.4);
    overflow: auto; */
    /* top: 0; */
    z-index: 2;
}

.modalcontainer {
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;





}