/* fonts "Sometype Mono" & "Edu Tas Beginner" */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
    width: 100%;
    background-image: url('../img/cork.png');
    background-size: contain;
}

header {
    background-image: url('../img/wall.png');
    background-size: contain;
    height: 20vh;
}

.titolo {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Edu TAS Beginner", sans-serif;
    text-transform: uppercase;
    color: #D85448;
}


.para {
    font-family: "Edu TAS Beginner", sans-serif;
    color: #D85448;
    font-weight: 600;
    font-size: x-large;
}

.para1 {
    font-family: "Sometype Mono", "monospace";
    font-style: italic;
    font-size: large;
    font-weight: 600;

}

.container {
    width: 75%;
    margin: 0 auto;
}

/*task piccolo bonus */
.card:hover {
    transform: rotate(10deg);
    transition: all 0.9s ease-out;
    cursor: pointer;
    z-index: 1;
    scale: 1.1;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
    box-shadow: 20px 20px 20px rgba(216, 84, 72, 0.8);
    box-shadow: 2px 2px 20px#D85448, -2px -2px 20px rgb(255, 251, 0);
}

/*task scoparsa del pin all'hover della card*/
.card:hover figure img:last-child {
    display: none;
}

.modale {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}