/* fonts "Sometype Mono" & "Edu Tas Beginner" */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

/* fonts!
font-family: "Edu TAS Beginner",
sans-serif;
font-family: "Sometype Mono",
"monospace"; */

body {
    max-width: 100%;
}

header {
    background-image: url(../img/wall.png);
    background-size: contain;
    height: 20vh;
    font-size: 300px;
    font-family: "Edu TAS Beginner", sans-serif;
    text-transform: uppercase;
}

main {
    background-image: url(../img/cork.png);
    background-size: contain;
    height: 80vh;
}

.titolo {
    font-size: 6rem;
    font-weight: 800;
    font-family: "Edu TAS Beginner", sans-serif;
    text-transform: uppercase;
}